# COPYRIGHT (C) 2018 MITSUBISHI ELECTRIC CORPORATION
# ALL RIGHTS RESERVED

type vehiclepowerdaemon_exec, exec_type, vendor_file_type, file_type;
type vehiclepowerdaemon_socket, file_type;
type vehiclepowerservice_app_data, file_type;
type vehiclepowerdaemon_data, file_type, data_file_type;

